
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CV-KUSH MISRA</title>
	<%= stylesheet_link_tag "fpage" %>
	<%= stylesheet_link_tag "spage" %>
	<%= stylesheet_link_tag "connect" %>
	<%= stylesheet_link_tag "tpage" %>
	<%= stylesheet_link_tag "fourp" %>
	<%= stylesheet_link_tag "lastpage" %>
	<%= stylesheet_link_tag "bb" %>


</head>

<body>
	<div id="fpage">
		
				<div id="image">
					<img src="/images/kush.gif">
				</div>

				<div >
					<h1 style="color: white;">KUSH MISRA</h1>
					<h3 style="color: white; ">DEVELOPER</h3>
				</div>
					
				<div id="links">
					<h4>SITE IS UNDER DEVELOPMENT!</h4>
				</div>
	
	</div>

	

	<div id="spage">
		
		<div id="education" >
			<div id="edutitle" >
				<span style="font-size: 20px;">EDUCATION</span>
				<hr>				
			</div>

			<div id="school">
				<div style="display: flex;flex-direction: row;justify-content: space-around; height: 90%;">
					<div class="type" style="display: flex;flex-direction: column;justify-content: space-around;">
						<div style="width: 100%;display: flex;flex-direction: row;justify-content:space-around;">
							HighSchool
						</div>
					</div>

					<div class="seperation">
						
					</div>

					<div class="des">
						<div class="etitle">
							THE AIR FORCE SCHOOL
							<hr>
						</div>
						<div>
							Estb in 1965 TAFS is a semi private CBSE based school
							which utilizes the resouces of Indian Air Force
						</div>
					</div>
				</div>		
			</div>

			<div id="college">
				<div style="display: flex;flex-direction: row;justify-content: space-around; height: 90%;">
					<div class="type" style="display: flex;flex-direction: column;justify-content: space-around;">
						<div style="width: 100%;display: flex;flex-direction: row;justify-content:space-around;">
							Graduation
						</div>
					</div>

					<div class="seperation">
						
					</div>

					<div class="des">
						<div class="etitle">
							NETAJI SUBHAS INSTITUTE OF TECHNOLOGY
							<hr>
						</div>
						<div>
							Netaji Subhas Institute of Technology, formerly known as the Delhi Institute of Technology, is an engineering college located in Dwarka, New Delhi, India. Established in 1983, it is an autonomous institution of the Government of Delhi.
						</div>
					</div>
				</div>		
			</div>

		</div>

		<div id="eduside" style="position: relative; display: flex;flex-direction: column;justify-content: space-around;">
			<div id="edusidea" style="display: flex;flex-direction: row;justify-content: space-around;">
				<div id="scd" style="text-align: center;">
					<canvas id="sc"> </canvas><br>
					<span style="color: white;">TAFS</span> <br>
					<span style="color: white;">12th-97%</span>

				</div>

				<div id="ccd" style="text-align: center; ">
					<canvas id="cc"> </canvas><br>
					<span style="color: white;">NSIT</span> <br>
					<span style="color: white;">2nd year!!</span>
				</div>
			</div>
		</div>
<!-- 		<div id="hp" style="position: absolute; color: white;">100%</div>
		<div id="fp" style="position: absolute; color: white;">50%</div> -->

	</div>

	<div id="tpage">
		<div id="ttitle">
			<span style="font-size: 26px;">LANGUAGE PROFICIENCY</span><br>
			<hr>
		</div>

		<div id="tcon">
		
			<div id="skill1" style=" display: flex; margin-bottom: 1%; ">

				<div style="height: 100%; width: 20%; 
				text-align: center; font-size: 20px;">
					<img src="/images/c.png" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				<img src="/images/two.jpg">
				<img src="/images/eight.jpg">
				<img src="/images/three.jpg">
				<img src="/images/four.jpg">
				<img src="/images/five.jpg">
				<img src="/images/six.jpg">
				<img src="/images/seven.jpg">
				<img src="/images/nine.jpg">
				
			</div>
		
			<div id="skill2" style=" display: flex; margin-bottom: 1%;">
				<div style="height: 100%; width: 20%;
				text-align: center; font-size: 20px;">
					<img src="/images/rails.jpg" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				<img src="/images/two.jpg">
				<img src="/images/eight.jpg">
				<img src="/images/three.jpg">
				<img src="/images/four.jpg">
				
			</div>
			
			<div id="skill3" style=" display: flex; margin-bottom: 1%;">
				<div style="height: 100%; width: 20%;
				text-align: center; font-size: 20px;">
					<img src="/images/android.png" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				<img src="/images/two.jpg">
				<img src="/images/eight.jpg">
				<img src="/images/three.jpg">
				<img src="/images/four.jpg">
				<img src="/images/five.jpg">
				
			</div>	
			
			<div id="skill4" style="display: flex; margin-bottom: 1%;">
				<div style="height: 100%; width: 20%; 
				text-align: center; font-size: 20px;">
					<img src="/images/css.png" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				<img src="/images/two.jpg">
				<img src="/images/eight.jpg">
				
				
			</div>	
			
			<div id="skill5" style=" display: flex; margin-bottom: 1%;">
				<div style="height: 100%; width: 20%;
				text-align: center; font-size: 20px;">
					<img src="/images/html.png" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				<img src="/images/two.jpg">
				<img src="/images/eight.jpg">
				
				
			</div>	
			
			<div id="skill6" style="display: flex; margin-bottom: 1%;">
				<div style="height: 100%; width: 20%; 
				text-align: center; font-size: 20px;">
					<img src="/images/java.png" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				<img src="/images/two.jpg">
				<img src="/images/eight.jpg">
				<img src="/images/three.jpg">
				<img src="/images/four.jpg">
				
				
			</div>	
			
			<div id="skill7" style=" display: flex; margin-bottom: 1%;">
				<div style="height: 100%; width: 20%; 
				text-align: center; font-size: 20px;">
					<img src="/images/jq.png" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				
				
			</div>	
			
			<div id="skill8" style=" display: flex; margin-bottom: 1%;">
				<div style="height: 100%; width: 20%; 
				text-align: center; font-size: 20px;">
					<img src="/images/js.png" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				<img src="/images/two.jpg">
				<img src="/images/eight.jpg">
				
				
			</div>	
			
			<div id="skill9" style="display: flex; margin-bottom: 1%;">
				<div style="height: 100%; width: 20%; 
				text-align: center; font-size: 20px;">
					<img src="/images/php.png" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				<img src="/images/two.jpg">
				
				
			</div>	
		
			<div id="skill10" style=" display: flex; margin-bottom: 10%;">
				<div style="height: 100%; width: 20%; 
				text-align: center; font-size: 20px;">
					<img src="/images/xml.png" style="height: 100%; width: 100%">
				</div>

				<div style="height: 100%; width: 10%; border-right-style: solid;border-width: 2px; ">
					
				</div>

				<img src="/images/one.jpg">
				<img src="/images/two.jpg">
				<img src="/images/eight.jpg">
				
				
			</div>	

		</div>
	
	</div>

	<div id="connect" >

		<div id="con">
			<div id="contitle" style="font-size: 20px;">
				WORKS<br>
				<hr>
			</div>

			<div id="live">
				<h4 style="font-size: 20px;">Current live work</h4>
				<h5>PHP - <a href="http://one-liners.000webhostapp.com" style="text-decoration: none; color:rgba(128,128,128,0.7);">http://one-liners.000webhostapp.com</a></h5>

				<h5>NODEJS,SOCKET.IO - <a href="https://tranquil-wildwood-65630.herokuapp.com/" style="text-decoration: none; color:rgba(128,128,128,0.7);">https://tranquil-wildwood-65630.herokuapp.com/</a></h5>
			</div>


			
		</div>

		<div id="conside">
			<div>
				<div>
					<a href="https://github.com/kushmisra"><img src="/images/git.png" style="width: 100%;"></a>
				</div>

				<div>
					<a href="https://www.linkedin.com/in/kush-misra-93a53713a/"><img src="/images/li.png" style="width: 100%;"></a>
				</div>

				<div>
					<a href="https://www.facebook.com/kush.misra.1"><img src="/images/fb.png" style="width: 100%;"></a>
				</div>
			</div>	
		</div>
		
	</div>

	<div id="bbpage">

		<div id="bbside">
			<img src="/images/bb.jpg" style="height: 100%; width: 100%;">
		</div>

		<div id="bb" >
			<div id="bbtitle">
				<h3>SPORTS PARTICIPATION</h3>
				<div style="width: 100%;"><hr></div>
			</div>
			<div id="aboutbb">
				Won the Zonal Basketball championship in Jammu region !
			</div>
		</div>
		
	</div>


	<div id="fourp">
		
		<div id="nda">
			<div id="ndatitle">
				<h3>NATIONAL DEFENCE ACADEMY</h3>
				<hr>
			</div>

			<div id="ndainfo" style="height: 35%; ">
				<div style="height: 100% "><img src="/images/ndalogo.gif" style="height: 100%;"></div>

				<div  id="helped" >
					<span style="font-size: 17px;"><strong><em>NDA (ALL INDIA) RANK 1</em></strong></span><br><br><br>
					National defence academy is one of its kind which produces fine officers who eventually serve in the armed forces of India . Entrance includes a test followed by a SSB interview.
				</div>

				

			</div>

			
		</div>

		<div id="ndaside">
			<img id="ndai" src="/images/nda.jpg">
		</div>

	</div>

	<div id="lastpage">
		
		<div id="map" >
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.6881476285052!2d77.03287991474897!3d28.609130882427106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d053516783c9b%3A0x7e540ab22a28446!2sNetaji+Subhas+Institute+Of+Technology!5e0!3m2!1sen!2sin!4v1489602868191"  frameborder="0" style="border:0; height: 100%; width: 100%;" allowfullscreen></iframe>
		</div>

		
		<div id="mapside"  >

			<div id="ctitle" >
					<h3>GET IN TOUCH</h3>
					<hr>
			</div>

			<div id="details" >
				<div id="detailsa"><div style="height: 100%;"><img class="lai" src="/images/add.svg" ></div> <div id="add" style="height: 100%;">NSIT</div></div>

				<div id="detailsb"><div style="height: 100%;"><img class="lai" src="/images/mail.svg" ></div> <div id="mail" style="height: 100%;">kushmisra2609@gmail.com</div></div>
				
				<div id="detailsc"><div style="height: 100%;"><img class="lai" src="/images/tele.svg" ></div> <div id="tele" style="height: 100%;">(+91)9910711653</div></div>
			</div>

			<div style="padding-left: 5%; padding-right: 5%;">
				
				<form style="width: 100%" action="/submit" method="POST">
					<input type="text" name="name" placeholder="NAME" style="padding: 10px;width: 42%; height: 45px; background-color: rgba(192,192,192,0.3); border-style: none; float: left;">
					<input id="iem" type="email" name="email" placeholder="EMAIL" style="padding: 10px; width: 42%; height: 45px; background-color: rgba(192,192,192,0.3);border-style: none;float: right;"><br><br><br><br>
					<textarea placeholder="MESSAGE" 
					style=" padding: 10px; width: 100%; height: 35%; background-color: rgba(192,192,192,0.3);border-style: none; "></textarea>
					<br><br>
					<input type="submit" value="SEND MESSAGE" style="width: 250px; height: 55px; background-color: black; color: white; font-size: 20px; border-style: none; border-radius: 10px;" >

					
				</form>

				<!-- <form style="width: 100%;">
					<textarea placeholder="MESSAGE" style=" padding: 10px; width: 92%; height: 35%; background-color: rgba(192,192,192,0.3);border-style: none; "></textarea>
					<br><br>
					<input type="submit" value="SUBMIT" style="width: 150px; height: 55px; background-color: black; color: white; font-size: 20px; border-style: none;">

				</form> -->

			</div>

		</div>

	</div>



</body>

<%= javascript_include_tag('fpage.js') %>
<%= javascript_include_tag('spage.js') %>
<%= javascript_include_tag('tpage.js') %>
<%= javascript_include_tag('connect.js') %>
<%= javascript_include_tag('fourp.js') %>
<%= javascript_include_tag('lastpage.js') %>





